<div class="example-container" *ngIf="shouldRun">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a class="navbar-brand" href="#"><img class="logo" src="assets/images/logo-blanco.png" alt="" width="270"></a>
    <a style="font-size: xx-small;" align="right">USUARIO: {{this.usuario}} / PERFIL: {{this.perfil}} </a>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav style="height: 100%; weight:100%;">
      <mat-nav-list>
        <a mat-list-item [routerLink]="['listado_atencion']" (click)="snav.toggle()">
            <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">Solicitudes</span>
        </a>
        <a mat-list-item routerLink="/owner" [matMenuTriggerFor]="menuseguridad">
          <mat-icon>setting</mat-icon> <span class="nav-caption">Configuracion</span>   
        </a>
        <a mat-list-item routerLink="#" (click)="onSidenavClose()">
            <mat-icon>closed</mat-icon><span class="nav-caption">Salir</span>
        </a>
      </mat-nav-list>
<!--- Sub Menu   ---> 
      <mat-menu #menuseguridad="matMenu">
        <button mat-menu-item (click)="snav.toggle()">Perfiles y Funciones</button>
        <button mat-menu-item (click)="snav.toggle()">Pantallas</button>
        <button mat-menu-item (click)="snav.toggle()">Usuario</button>
      </mat-menu>

    </mat-sidenav>
    
    <mat-sidenav-content style="height: 100%;">
      <router-outlet>
        <div class="container text-center pb-10;" disabled>
          <img src="assets\images\fondo8.png" class="img-fluid" *ngIf="readLocalStorageValue('indinicio')== 'true'">
        </div>
      </router-outlet>
      <div class="container text-center pb-5; ">
        <p style=color:#3F52B6>
          <strong>
            El EQUIPO DE SISTEMAS "¡ Un equipo un objetivo... !"
          </strong>
        </p>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<div *ngIf="!shouldRun">...</div>