<div class="example-container" [formGroup]="listSolicitud">
    <div *ngIf="loading" class="content-load">
        <br>
        <mat-spinner class="child-load"></mat-spinner>
        <br>
        <mat-label class="child-load"><strong>Cargando... </strong></mat-label>
    </div>

    <div class="pipeline white lined-primary">
        <div class="pipeline-header">
            <h6 class="pipeline-name">
                Carga Solicitudes por Lotes                
            </h6> 

            <div style="color: whitesmoke;" class="pipeline-settings os-dropdown-trigger">
                <button style="background-color:#3f51b5; color: aliceblue;" mat-icon-button [matMenuTriggerFor]="menu" >
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button style="background-color: #3f51b5; color: aliceblue;" mat-menu-item (click)="openDialogRecursos()">
                        <mat-icon style="background-color: #3f51b5; color: aliceblue;">record_voice_overy</mat-icon>
                        <span>Nuevo</span>
                    </button>
                    
                    <button style="background-color: #3f51b5; color: aliceblue;" mat-menu-item>
                        <mat-icon style="background-color: #3f51b5; color: aliceblue;">refresh</mat-icon>
                        <span>Actualizar</span>
                    </button>
                    <button style="background-color: #3f51b5; color: aliceblue;" mat-menu-item>
                        <mat-icon style="background-color: #3f51b5; color: aliceblue;">saved</mat-icon>
                        <span>Grabar</span>
                    </button>
                    <button style="background-color: #3f51b5; color: aliceblue;" mat-menu-item>
                    <mat-icon style="background-color: #3f51b5; color: aliceblue;">file_download</mat-icon>
                    <span>Exportar</span>
                    </button>
                    <button style="background-color: #3f51b5; color: aliceblue;" mat-menu-item>
                        <mat-icon style="background-color: #3f51b5; color: aliceblue;">highlight_off</mat-icon>
                        <span>Salir</span>
                    </button>
                </mat-menu>
            </div>
        </div>           

        <div class="example-container1 mat-elevation-z8" style="width:auto; height:auto;" >  
            
            <table style="height:auto;">
                <tr>
                    <td width=80%>  
                        <table style="height:auto; border-width: 0.1px; padding: 0.2px; border-style:dotted; border-color:cadetblue;" matSort (matSortChange)="sortData($event)" bordered="true" width=100%>
                            <tr class="encabezado">
                                <th mat-sort-header="id">ID LOTE</th>
                                <th mat-sort-header="ruta">RUTA</th>
                                <th mat-sort-header="solicitudes">SOL</th>
                                <th mat-sort-header="implicados">IMPL</th>
                                <th mat-sort-header="fecharegistro">FECHA DE REGISTRO</th>
                                <th mat-sort-header="horaproceso">HORA DE PROCESO</th>
                                <th mat-sort-header="horatermino">HORA DE TEERMINO</th>
                                <th mat-sort-header="usuario">USUARIO</th>
                                <th mat-sort-header="estado">ESTADO</th>
                                <th mat-sort-header="acc">ACCION</th>
                            </tr>
                        
                            <tr *ngFor="let dessert of sortedData" class="detalle">
                                <td class="encabezado pointer" style="text-align: center;">{{dessert.id}}</td>
                                <td>{{dessert.ruta}}</td>
                                <td align="center">{{dessert.solicitudes}}</td>
                                <td align="center">{{dessert.implicados}}</td>
                                <td align="center">{{dessert.fecharegistro}}</td>
                                <td align="center">{{dessert.horaproceso}}</td>
                                <td align="center">{{dessert.horatermino}}</td>
                                <td>{{dessert.usuario}}</td>
                                <td>{{dessert.estado}}</td>
                                <td align="center">
                                    <mat-icon matTooltip="iniciar" class="pointer" style="color: #3f51b5;" (click)="openDialogRecursos()">loop</mat-icon>
                                    <mat-icon matTooltip="ver detalle" class="pointer" style="color:goldenrod;" (click)="openDialogRecursos()">pageview</mat-icon>
                                    <mat-icon matTooltip="Anular Lote" class="pointer" style="color:red;" (click)="openDialogRecursos()">delete</mat-icon>
                                </td>
                            </tr>
                            <tr class="encabezado">
                                <th mat-sort-header="id" colspan="10">CARGA DE LOTE POR ARCHIVO EN FORMATO EXCEL</th>
                            </tr>
                            <tr>
                                <td colspan="9">
                                        <input ArchivoCarga style="font-size: xx-small; height: 35px;" 
                                            formControlName="archivocarga"
                                            id="file" 
                                            type="file" 
                                            multiple
                                            class="form-control"
                                            (change)="onFileChange($event)">
                                </td>
                                <td>
                                        <button style="font-size: x-small;" class="btn btn-primary btn-rounded waves-effect waves-light" type="button" color="primary" rounded="true" mdbWavesEffect>Registrar</button>
                                </td>
                            </tr>
                            <tr class="encabezado">
                                <th mat-sort-header="id" colspan="10">RESULTADO DE CARGA:</th>     
                            </tr>
                            <tr>
                                <td colspan="10">
                                    <table width=100% style="font-size: xx-small;">
                                        <tr>
                                            <td><p></p></td>
                                        </tr>
                                        <tr>
                                            <td width=10% ></td>
                                            <td width=20%  class="encabezado pointer">Archivo de Carga:</td>
                                            <th style="color: #0d478f;" width=15%>solicitud.xlsx</th>
                                            <td width=20%  class="encabezado pointer">Cantidad de registros econtrados:</td>
                                            <th style="color: #0d478f;" width=10%>1,000</th>
                                            <td width=20%></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td  class="encabezado pointer">Tamaño:</td>
                                            <th style="color: #0d478f;">16MB</th>
                                        </tr>
                                        <tr>
                                            <td></td>
                                           <td  class="encabezado pointer">Solicitudes para cargar:</td>
                                           <th style="color: #0d478f;">200</th>
                                           <td  class="encabezado pointer">Solicitudes no cargadas:</td> 
                                           <th style="color: red;" >100</th>    
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td  class="encabezado pointer">Implicados que seran cargados:</td>
                                            <th  style="color: #0d478f;">500</th>
                                            <td  class="encabezado pointer">Implicados que no seran cargados:</td>
                                            <th style="color: red;">200</th>
                                        </tr>
                                        <tr><td><p></p></td></tr>
                                        <tr>                                
                                            <td colspan="6" align="center"><button style="font-size: x-small;" class="btn btn-primary btn-rounded waves-effect waves-light" type="button" color="primary" rounded="true" mdbWavesEffect>Inicio del Proceso</button></td>
                                        </tr>    
                                    </table> 
                                </td>                                
                            </tr>
                        </table>
                    </td>
                    <td width=35%>
                        <table width=100% height=100% style="border-width: 0.1px; padding: 0.2px; border-style:dotted;
                        border-color:cadetblue;">
                            <tr class="encabezado" colspan="3" style="height:32 px;">
                                <th colspan="3">AVANCES</th>                            
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <div class="chart-wrapper pointer">
                                        <canvas baseChart  
                                            [data]="doughnutChartData"
                                            [labels]="doughnutChartLabels"
                                            [chartType]="doughnutChartType"
                                            [options]="chartOptions"
                                            [plugins]="barChartPlugins"
                                            (chartHover)="chartHovered($event)"
                                            (chartClick)="chartClicked($event)">
                                        </canvas>
                                    </div>                            
                                </td>
                            </tr>
                            
                            <tr class="encabezado" colspan="3"><th colspan="3">BUSCAR EN LA LISTA DE RESULTADOS</th></tr>
                            <tr>
                                <td colspan="3" style="background-color: beige;">                        
                                    <input matInput (keyup)="buscarDatos($event.target.value)" style="font-size: xx-small;" placeholder="Buscar">                                
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                            </tr>
                        </table>    
                    </td>
                </tr>
            </table>                                    
        </div>      
    </div>
</div>