<div [formGroup] = "regSolicitud">

    <div *ngIf="loading" class="content-load">
        <br>
        <mat-spinner class="child-load"></mat-spinner>
        <br>
        <mat-label class="child-load"><strong>Cargando... </strong></mat-label>
    </div>

    <div class="card">    
        <div class="card-header card-header-info"  style="height: 50px;">
            <div class="pipeline-header">
                <h6 class="pipeline-name">
                    <p style="color:#3F52B6; text-align: left;">
                        <strong><i class="material-icons">library_add</i> Registro de Solicitud</strong></p>
                </h6> 
                <div style="color: whitesmoke;" class="pipeline-settings os-dropdown-trigger">
                    <button style="background-color:seagreen; color:gainsboro;" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button  mat-menu-item (click)=saveIniciativa()>
                            <mat-icon style=" color:red;">saved</mat-icon>
                            <span>Grabar</span>
                        </button>
                        <button  mat-menu-item (click)="openDialogImplicados()">
                            <mat-icon  >screen_shared</mat-icon>
                            <span>Ingresar Implicados</span>
                        </button> 

                        <button  mat-menu-item>
                            <mat-icon >screen_shared</mat-icon>
                            <span>Solicitar Evaluacion </span>
                        </button>
                        
                        <button  mat-menu-item>
                            <mat-icon >screen_shared</mat-icon>
                            <span>Solicitar Aprobacion </span>
                        </button>

                        <button  mat-menu-item>
                            <mat-icon >screen_shared</mat-icon>
                            <span>Anular</span>
                        </button>
                        <button  mat-menu-item>
                            <mat-icon >autorenew</mat-icon>
                            <span>Procesar</span>
                        </button>
                        <button  mat-menu-item>
                            <mat-icon >offline_bolt</mat-icon>
                            <span>Rechazar</span>
                        </button>

                        <button  mat-menu-item>
                            <mat-icon >highlight_off</mat-icon>
                            <span>Salir</span>
                        </button>                        
                    </mat-menu>
                </div>
            </div>
        </div>
       
        <div class="card-content">
            <br>
            <div class="row">
                <div class="col-md-3"  style="background-color: #eff4fa;">
                    <mat-form-field style="font-size: xx-small; width: 100%;">
                        <input readonly formControlName="idSolicitud" matInput #inputAtencion maxlength="9"
                        placeholder="N° Solicitud">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">

            </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field style="font-size: xx-small; width: 100%;">
                        <mat-select formControlName="tipodocumento" placeholder="Tipo de Documento"
                            [compareWith]="compareItems" [(ngModel)]="tipodocumento">
                            <mat-option *ngFor="let tipodocumentolet of tipodocumentolista" [value]="tipodocumento">
                                {{tipodocumentolet}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field style="font-size: xx-small; width: 100%;">
                        <mat-select formControlName="agencia" placeholder="Agencia"
                            [compareWith]="compareItems" [(ngModel)]="agencia">
                            <mat-option *ngFor="let agencialet of agencialista" [value]="agencialet">
                                {{agencialet}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">                
                    <mat-form-field style="font-size: xx-small;">
                    <input formControlName="personal" class="oficioexpedienteinput" matInput #inputHoras type="text" placeholder="Personal de Recepcion">
                    </mat-form-field>                
                </div>                
            </div>

            <div class="row">
                <div class="col-md-4">
                    <mat-form-field style="font-size: xx-small; width: 100%;">
                        <mat-select formControlName="tiporequerimiento" placeholder="Tipo de Requerimiento"
                            [compareWith]="compareItems" [(value)]="selected"  (selectionChange)="selecttiporeq(selected)">
                            <mat-option *ngFor="let tiporequerimientolet of tiporequerimientolista" [value]="tiporequerimientolet">
                                {{tiporequerimientolet}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field style="font-size: xx-small; width: 100%;">
                        <mat-select formControlName="entidad" placeholder="Entidad"
                            [compareWith]="compareItems" [(ngModel)]="entidad">
                            <mat-option *ngFor="let entidadlet of entidadlista" [value]="entidadlet">
                                {{entidadlet}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field style="font-size: xx-small; width: 100%;">
                        <mat-select formControlName="prioridad" placeholder="Prioridad"
                            [compareWith]="compareItems" [(ngModel)]="prioridad">
                            <mat-option *ngFor="let prioridadlet of prioridadlista" [value]="prioridadlet">
                                {{prioridadlet}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field style="font-size: xx-small; width: 100%;">
                        <input formControlName="fecharegistro" matInput [matDatepicker]="picker2"
                            placeholder="Fecha de Registro" [min]="minDate" [max]="maxDate"
                            (dateInput)="changeFech('input', $event)" (dateChange)="changeFech('change', $event)">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field style="font-size: xx-small; width: 100%;">
                        <input formControlName="fecharecepcion" matInput [matDatepicker]="picker"
                            placeholder="Fecha de Recepcion" [min]="minDateFin" [max]="maxDateFin"
                            (dateInput)="changeFechFin('input', $event)" (dateChange)="changeFechFin('change', $event)">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-4">                
                    <mat-form-field style="font-size: xx-small;">
                    <input formControlName="expediente" class="oficioexpedienteinput" matInput #inputHoras type="text" placeholder="Nro de Oficios/Cartas/Expediente">
                    </mat-form-field>                
                </div>                            
            </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field style="font-size: xx-small; width: 100%;">
                        <mat-select formControlName="tiempolimite" placeholder="Tiempo Limite"
                            [compareWith]="compareItems" [(ngModel)]="tiempolimite">
                            <mat-option *ngFor="let periodolet of tiempodiaslista" [value]="periodolet">
                                {{periodolet}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <div class="col-md-6">                
                        <mat-form-field style="font-size: xx-small; width: 100%;">
                        <input formControlName="totalhojas" class="totalhojas" matInput #inputHoras type="text" placeholder="Total de Hojas">
                        </mat-form-field>                
                    </div>
                </div>
                <div class="col-md-4" style="background-color: #eff4fa;">
                    <mat-form-field readonly style="font-size: xx-small; width: 100%;">
                        <mat-select formControlName="estado" placeholder="Estado"
                            [compareWith]="compareItems" [(ngModel)]="estadolista">
                            <mat-option *ngFor="let estadolet of estadolista" [value]="estadolet">
                                {{estadolet}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <!--
            <div class="row" align="align-center-all">                
                    <div class="col-md-2 align-right-all" style="font-size: xx-small;">
                    <button mat-raised-button class="btn-primary" (click)="saveIniciativa('')">
                        <mat-icon>save</mat-icon>
                        Guardar
                    </button>
                    </div>
                    <div class="col-md-2 align-right-all" style="font-size: xx-small;">                
                    <button mat-raised-button class="btn-secondary" (click)="saveIniciativa('')">
                        <mat-icon>screen_share</mat-icon>
                        Derivar
                    </button>
                    </div>
                    <div class="col-md-2 align-right-all" style="font-size: xx-small;">            
                    <button mat-raised-button class="btn-info" (click)="resetFields()">
                        <mat-icon>autorenew</mat-icon>
                        Limpiar
                    </button>
                    </div>
                    <div class="col-md-2 align-right-all" style="font-size: xx-small;">                
                    <button mat-raised-button class="btn-danger" (click)="close()">
                        <mat-icon>close</mat-icon>
                        Cerrar
                    </button>
                    </div>
            </div>
            --->
        </div>
    </div>
</div>
