<div class="example-container" *ngIf="shouldRun">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a class="navbar-brand" href="#"><img class="logo" src="assets/images/logo-blanco.png" alt="" width="270"></a>
    <a style="font-size: xx-small;" align="right">USUARIO: {{this.usuario}} / PERFIL: {{this.perfil}} </a>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"> 
    <mat-sidenav class="mat-toolbar mat-primary" #snav style="height: 100%; weight:100%;">
      <mat-nav-list class="example-toolbar mat-toolbar mat-primary mat-toolbar-single-row">
          <button mat-menu-item [routerLink]="['maestrocargas']" (click)="snav.toggle()">
            <mat-icon style="color:aliceblue;">library_books</mat-icon>
            <span style="color:aliceblue;">Cargas Masivas</span></button>
          <button mat-menu-item [routerLink]="['solicitud']" (click)="snav.toggle()">
            <mat-icon style="color:aliceblue;">event_note</mat-icon>
            <span style="color:aliceblue;">Solicitudes</span></button>
          <button mat-menu-item (click)="snav.toggle()">
              <mat-icon style="color:aliceblue;">assessment</mat-icon>
              <span style="color:aliceblue;">Dashboard</span></button>
          <button mat-menu-item [matMenuTriggerFor]="vertebrates" >
                <mat-icon style="color:aliceblue;">settings</mat-icon>
                <span style="color:aliceblue;">Configuracion</span>
                <mat-icon style="color:aliceblue;">last_page</mat-icon></button>              
          <button mat-menu-item (click)="snav.toggle()">
            <mat-icon style="color:aliceblue;">settings_power</mat-icon>
            <span style="color:aliceblue;">Salir</span></button>

        <mat-menu #vertebrates="matMenu">
          <button mat-menu-item (click)="snav.toggle()">
            <mat-icon style="color: #3f51b5;">account_circle</mat-icon>
            <span style="color: #3f51b5;">usuario</span></button>
          <button mat-menu-item (click)="snav.toggle()"><mat-icon style="color: #3f51b5;">supervised_user_circle</mat-icon>
            <span style="color: #3f51b5;">Perfiles y Funciones</span></button>
          <button mat-menu-item (click)="snav.toggle()"><mat-icon style="color: #3f51b5;">important_devices</mat-icon>
            <span style="color: #3f51b5;">Pantalla</span></button>
          <button mat-menu-item (click)="snav.toggle()"><mat-icon style="color: #3f51b5;">receipt</mat-icon>
            <span style="color: #3f51b5;">Maestro Tablas</span></button>
        </mat-menu>
        
        </mat-nav-list>
    </mat-sidenav>
    
    <mat-sidenav-content style="height: 100%;">
      <router-outlet>
        <div class="container text-center pb-10;" disabled>
          <img src="assets\images\fondo8.png" class="img-fluid" *ngIf="readLocalStorageValue('indinicio')== 'true'">
        </div>
      </router-outlet>
      <div class="container text-center pb-5; ">
        <p style=color:#3F52B6>
          <strong>
            Autor: "Area de Desarrollo TI" - Derechos Reservados "Financiera Confianza 2020"
          </strong>
        </p>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<div *ngIf="!shouldRun">...</div>